
#widget-beritaxyz {
   font-family: 'Poppins', sans-serif;
   display: block;
   width: 350px;
   overflow: hidden;
   margin: 20px auto;
   background: #fff;
   border: 1px solid #c6c6c6;
}

p {
   text-decoration: none !important;
   color: #171717 !important;
   line-height: 1.25rem;
}

.widget-head23213123 {
   padding: 10px 12px;
   background: #0358CC;
   color: #fff;
}

.widget-body232323 {
   padding: 10px 12px;
   height: 500px;
   overflow: scroll;
}

.widget-head23213123 h1 {
   margin: 0;
   font-size: 24px;
   font-weight: 400;
}

.widget-list2323 {
   list-style: none;
   padding: 0;
   margin: 0;
}

.widget-link {
   text-decoration: none;
}

.widget-source-time {
   color: #000;
}

.widget-item {
   list-style: none;
   margin-bottom: 10px;
}

.widget-item p {
   margin: 0;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.card231212 {
   height: 120px;
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
   overflow: hidden;
   background-color: #fff;
}

.card231212 div:first-child {
   flex-basis: 30%;
}

.widget-title {
   color: white;
}

.card231212:hover {
   background-color: rgba(221, 221, 221, 0.479);
}

.card231212 div:last-child {
   flex-basis: 65%;
   padding: 0 0.5rem 0.25rem;
}

.card231212 img {
   display: block;

   height: 120px;
   object-fit: cover;
}

.card231212 p {
   margin-top: 0.5rem;
   margin-bottom: 0.35rem;
   font-size: 12px;
}

.shadow {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.border2323 {
   border: 1px solid #ddd;
}

.curve {
   border-radius: 0.35rem;
}

.img_berita222 {
   width: 100px !important;
}

#widget-beritaxyz {
   border-style: solid;
   border: 5px solid #0358CC;
}

img.ic_date {
   float: left;
   height: 21px;
   margin-right: 5px;
   margin-left: 5px;
}

a:hover,
a:visited,
a:link,
a:active {
   text-decoration: none;
}